body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f7f9fb;
  color: #333;
}

header,
.container {
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

input {
  margin: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 60%;
}
